
#calculator {
    background-image: url("background-image.jpg");
    background-size: cover;
    border-radius: 8px;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin: 32px;
    color: #000;
    padding-bottom: 24px;
}

.Title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    width: 100%;
}

.links {
    float: right; 
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(#2e48bb,#8c96c5);
    padding: 8px 20px;
    border-radius: 8px;
}

.links:hover {
    color:rgb(143, 147, 196);
}

.colourChange {
	text-align: center;
    font-weight: bold;
	width: 90%;
	height: 40px; 
	float: left; 
    color: white;
	background-image: linear-gradient(to bottom right, #921701, #921701b7);
	border-style: solid;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.colourCell {
    width: 20%;
}

#blankCell {
    width:10%;
}

.headerCell {
    width: 35%;
    text-align: left;
}

.linksCell {
    width: 20%;
}

.colourChange:hover {
color: #c0d1d8;
background-color: #723126d3;
}

.container {
    background-color: rgba(143, 196, 182, 0.92);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 2px 2px 96px #111;
    font-family: 'Trebuchet MS', Courier, monospace;
}

select {
    width: fit-content;
}
  
option {
    width: 250px;
}

.resultsTable, .inputsTable {
    width: 100%;
    border-spacing: 0;
}

#taxCodeCell {
    width: 20%;
}

#SLCell {
    width:60%;
}

.periodCell {
    text-align: left;
}

.Row1Inputs {
    height:64px;
}

.PensionContributionInputCells {
    height:32px;
}

.gross {
    height:32px;
}

th, td.results, td.column1 {
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.column1 {
    width: 40%;
    border-right: 2px solid rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.results, .heading {
    text-align: center;
}

.heading {
    font-size: 18px;
}

.results:hover {
    background-image: linear-gradient(rgb(94, 160, 142),rgba(143, 196, 182, 0.92));
    color: white;
    font-weight: bold;
    font-size: large;
}

.button {
	text-align: center;
    font-weight: bold;
	width: 10%;
	height: 50px; 
	float: right; 
    color: white;
	background-image: linear-gradient(to bottom right, #921701, #921701b7);
	border-style: solid;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
	color: #c0d1d8;
    background-color: #723126d3;
}

.inputsTable {
    font-weight: bold;
    font-size: 18px;
}

.pension-contribution, .gross-annually, .gross-monthly, #tax-code, #RepaymentPlan, #period {
    border-radius: 5px;
    height: 35px;
}

input[type="number"] {
    text-align: center;
}

select {
    cursor: pointer;
}

#TakeHomeYearly, #TakeHome, #TakeHomeWeekly {
    font-weight: bold;
    font-size: 18px;
}

#period {
    width: 190px;
}

#pension-contribution {
    width:210px;
}

.dark-mode {
    background-image: linear-gradient(rgb(0, 0, 0),rgba(136, 136, 136, 0.856));
    color: white;
}

.dark-mode-title {
    background-color: black;
    color: white;
}