h1 {
    text-align: center;
    color: #000;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.container {
    background-color: rgba(143, 196, 182, 0.753);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 2px 2px 96px #111;
}

select {
    width: fit-content;
  }
  
option {
    width: 250px;
}

.resultsTable, .inputsTable {
    width: 100%;
    border-spacing: 0;
}

th, td.results, td.column1 {
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.column1 {
    width: 40%;
    border-right: 2px solid rgb(0, 0, 0);
    font-weight: bold;
}

.results, .heading {
    text-align: center;
}

.results:hover {
    background-color: rgb(143, 196, 182)
}

.button {
	text-align: center;
    font-weight: bold;
	width: 10%;
	height: 50px; 
	float: right; 
    color: white;
	background: #701101;
	border-style: solid;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
	color: #c0d1d8;
    background-color: #723126d3;
}

.inputsTable {
    font-weight: bold;
    font-size: 17px;
}

.pension-contribution, .gross-annually, .gross-monthly, #tax-code, #RepaymentPlan, #period {
    border-radius: 5px;
    height: 35px;
}


input[type="number"] {
    text-align: center;
}

select {
    cursor: pointer;
}

#TakeHomeYearly, #TakeHome, #TakeHomeWeekly {
    font-weight: bold;
}

#period {
    width: 190px;
}

#pension-contribution {
    width:210px;
}
